{% extends 'store/base.html' %}

{% block title %}À propos{% endblock %}

{% block content %}
    <h2>À propos de Lausa Fashion</h2>
    <p>
        Bienvenue Sur <strong>Lausa Fashion </strong> 🛒.  <br>
        Nous proposons des produits de qualite, livrés rapidement à votre porte.
    </p>
    <p>
       La mission de Lausa Fashion est d'offrir des vetements et accessoires de qualite,
        tendance et accessibles, <br>tout en garantissant la satisfaction des clients grace 
        a un service efficace et une gestion moderne.
    </p>
    <p>
        Merci de faire confiance à <strong>Lausa Fashion</strong> pour vos besoins quotidiens. 
        Nous sommes impatients de vous servir !
    </p>
{% endblock %}
